#About {
    background-image: url('ImagesUsed/GridLines.png');
    background-size: auto;
    background-position-x: -10px;
    padding: 1rem;
    text-align: center;
}

.TickImg {
    width: 2rem;
    height: 2rem;
}

.TickImg img {
    width: 100%;
    height: 100%;
}